body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

.logo {
  height: 100%;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
section {
  padding: 20px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}
